.navbar-static-top {
  margin-bottom: -20px;
}

.gray {
  color: gray;
}

.raised-statistic {
  margin-top: -77px !important;
  margin-right: -30px !important;
  :hover{
    cursor: default !important;
  }
}

.dl-horizontal {
  dt {
    width: 200px;
  }
  dd {
    margin-left: 210px;
  }
}

.jumbotron {
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  h3 {
    margin-top: 10px;
  }
  a {
    margin-top: 10px;
  }
}

.subnav {
  padding-right: 20px;
}

a {
  text-decoration: none !important;
}

.img-element {
  height: 150px !important;
}

li {
  cursor: pointer !important;
}

.btn {
  margin-right: 1px !important;
  margin-bottom: 1px !important;
}

.info-note {
  label {
    margin-bottom: 0 !important;
  }
  text-decoration: none !important;
}

line-drawer {
  display: inline-block;
  position: relative;
  padding: 0;
  line-height: 0;
  user-select: none
}

line-drawer > img.background {
  max-width: 100%;
  min-width: 100%;
}

line-drawer > canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}