.subnav {
  padding-right: 20px;
}

a {
  text-decoration: none !important;
}

.img-element {
  height: 150px !important;
}

li {
  cursor: pointer !important;
}

.btn {
  margin-right: 1px !important;
  margin-bottom: 1px !important;
}

.info-note {
  label {
    margin-bottom: 0 !important;
  }
  text-decoration: none !important;
}